# --- Base de datos (RDS) ---
DB_HOST=
DB_PORT=5432
DB_NAME=trm
DB_USER=postgres
DB_PASSWORD=
DB_SSLMODE=verify-full
# Ruta ABSOLUTA al bundle de certificados de RDS.
# Local:      /ruta/a/tu/proyecto/global-bundle.pem
# Contenedor: /opt/airflow/certs/global-bundle.pem
DB_SSLROOTCERT=

# --- AWS ---
S3_BUCKET=
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
